.aboutusbi{
	background:url('../img/aboutus.jpg') no-repeat;
	background-size: 100% 100%;
	height: 800px;
}

.whitebox{
	width:464px;
	height:550px;
	float:right;
	margin-top: 120px;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border: #solid 10px #000;
}

.wrapperp
{
	width:1200px;
	
}

h2{
	letter-spacing: 0.1em;
	font:normal normal normal din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: #262626;
	text-align:left;
	margin-left: 45px;
	margin-top: 55px;
	font-weight: lighter;
	font-size: 30px;
	-webkit-font-smoothing: antialiased;
}

p{
	font: normal normal normal 16px raleway,sans-serif;
    color: #262626;
	text-align:left;
	margin-left: 45px;
	margin-right: 45px;
	line-height:30px;
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
}

