.contactbi{
	background:url('../img/contact.jpg') no-repeat;
	background-size: 100% 100%;
	height: 800px;

}

.whitebox{
	width:600px;
	height:525px;
	float:right;
	margin-top: 100px;
	background-color: white;
	-moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border: #solid 10px #000;
}

.wrapperp
{
	width:1200px;
	
}

.hello{
	padding-top: 60px;
	padding-left: 50px;
}