/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
 h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




/* My Code*/
.wrapper{
	width: 980px;
	margin: 0 auto;
	
}

.wrapperp
{
	width:800px;
	margin: 0 auto;
}
a{
	color: #000;
	text-decoration: none;
}


header {
	width: 100%;
	height: 120px;

	
}

header img {
	margin-top: 40px;
	float: left;
}

nav.circle {
  width: 80%;
  float:right;
  background: #fff;
  padding-top:44px;

}

nav.circle ul {
  list-style: none;
  text-align: center;
  float:right;
}

nav.circle ul li {
  display: inline-block;
}

nav.circle ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav.circle ul li a,
nav.circle ul li a:after,
nav.circle ul li a:before {
  transition: all .5s;
}
nav.circle ul li a:hover {
  color: #555;
}



.video-box{
	width: 100%;
	height: 551px;
	background-color:#222;

}

.main-intro{
	width: 100%;
	padding: 35px 0px;
}

.main-intro h2{
	font-weight: bold;
	font-family: Lato;
	font-size: 18px;
	text-align: center;
	padding-bottom: 10px;
	text-transform: uppercase;
	color:#555555;
}

.main-intro p{
	font-weight: 400;
	font-family: Lato;
	font-size: 14px;
	text-align: center;
	line-height: 22px;
	padding: 20px;
	color: #555555;
}

.main-intro-aboutus{
	height: 30px;
	width: 149px;
	background-color: #ccc;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	line-height: 30px; 
}

.main-intro-aboutus a{
	
	color: white;  
	font: normal normal normal 15px/1.4em 'open sans',sans-serif;
}


.extra{
	width: 100%;
	padding: 30px 0px;
	background-color: white;
	overflow: hidden;
}


.extra article{
	width: 33.33%;
	float: left;
	margin: 0px 0px;
}

.extra article:hover .extra-img{
	opacity: 0.2;
    filter: alpha(opacity=40);
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}

.extra article:hover .extra-img1{
	opacity: 0.2;
    filter: alpha(opacity=40);
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}



.extra article:hover .extra-img2{
	opacity: 0.2;
    filter: alpha(opacity=40);
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}

.main-student{
	width: 100%;
	padding: 30px 0px;
	overflow: hidden;
}

.main-student article{
	width: 18%;
	float: left;
	margin: 0px 1%;
}



.student-img{
	width: 100%;
	height: 120px;
}

.main-student h3{
	font-weight: 400;
	font-family: Lato;
	font-size: 15px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	text-transform: uppercase;
	color: #555555;
	
}

.main-student p{
	font-weight: 400;
	font-family: Lato;
	font-size: 13px;
	text-align: center;
	padding-bottom: 10px;
	color: #000;
	line-height:16px;
}

.main-intro-gallery{
	height: 30px;
	width: 149px;
	background-color: #ccc;
	text-align: center;
	vertical-align: middle;
	line-height: 30px; 
	margin-left: auto ;
	margin-right: auto ;
	margin-top: none;
}

.section-img{
	padding-bottom:40px;
	padding-top: 40px;
}
.main-intro-gallery a{
	
	color: white;
	font: normal normal normal 15px/1.4em 'open sans',sans-serif;
}

.main-intro-gallery:hover{
	background-color: #555555;
	cursor: pointer!important;
	-webkit-transition: all 400ms ease;
	
}

.main-intro-aboutus:hover
{
	background-color: #555555;
	cursor: pointer!important;
	-webkit-transition: all 400ms ease;
}

/*------------gallery--------------*/
.main-album{
	width: 100%;
	padding: 30px 0px;
	overflow: hidden;
	background-color: #f2f2f2;
}


.main-album article{
	width: 31.33%;
	float: left;
	margin: 0px 1%;
	margin-bottom: 2%;
}

.album-img{
	width: 100%;
	height: 300px;
	background-color: white;
	/*background-image: url('');*/
}

h1{
	letter-spacing: 0.05em;
	margin:0px 1%;
	color: #5E5D5D;
	font: normal normal normal 25px din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
}

.main-album p{
	margin-bottom:30px;
	font-size: 18px;
	margin: 0 1%;
    line-height: normal;
    letter-spacing: normal;
	font: normal normal normal din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
	color: #5E5D5D;
	padding-bottom: 40px;		
}

/*------------gallery-artroom--------------*/
.main-artroom{
	width: 100%;
	padding: 30px 0px;
	overflow: hidden;
	background-color: #f2f2f2;
	margin-bottom: 1%;
}

/*.main-artroom article{
	width: 31.33%;
	float: left;
	margin: 0px 1%;
	margin-bottom: 2%;
}

*/

.artroom-img{
	width: 100%;
	height: 100%;
	background-color: white;
	
	/*background-image: url('');*/
}

.main-artroom p{
	margin-bottom:30px;
	font-size: 18px;
	margin: 0 1%;
    line-height: normal;
    letter-spacing: normal;
	font: normal normal normal din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
	color: #5E5D5D;
	padding-bottom: 40px;		
}



/*----------footer---------*/
footer {
	width: 100%;
	background-color: #555555;
	padding: 40px 0px;
}

footer nav{
	float: right;
}

footer nav ul{
	
}

footer nav ul li{
	display: inline-block;
	margin-left: 20px;
}

footer nav ul  li a{
	font-family: Lato;
	font-size: 10px;
	text-transform: uppercase;
	color: white;
}


footer.aboutusf {
	width: 100%;
	background-color: white;
	padding: 40px 0px;
}

footer.aboutusf nav{
	float: right;
}

footer nav ul{
	
}

footer.aboutusf nav ul li{
	display: inline-block;
	margin-left: 20px;
}

footer.aboutusf nav ul  li a{
	font-family: Lato;
	font-size: 10px;
	text-transform: uppercase;
	color: #333;
}




/*----------comment-box---------*/
